<div class="text-muted">
	<small> {{tournament.name}} <b>Round {{game.round.number}}</b>
	</small>
</div>
<div class="media text-muted pt-3 border-bottom border-gray">
	<svg class="bd-placeholder-img mr-2 rounded" width="32" height="32"
		xmlns="http://www.w3.org/2000/svg"
		preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
		aria-label="Placeholder: 32x32">
		<title>Placeholder</title><rect width="100%" height="100%"
			fill="#007bff"></rect>
		<text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
	<div class="media-body pb-3 mb-0 small lh-125 ">
		<div class="d-flex justify-content-between align-items-center w-100">
			<strong class="text-gray-dark">{{game.whitePlayer.name}}</strong>
		</div>
		<span class="d-block">@{{game.whitePlayer.teamName}}</span>
	</div>
	<div class="media-body pb-3 mb-0 small lh-125 ">
		<h1>{{game.score | gamescore}}</h1>
	</div>
	<svg class="bd-placeholder-img mr-2 rounded" width="32" height="32"
		xmlns="http://www.w3.org/2000/svg"
		preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
		aria-label="Placeholder: 32x32">
		<title>Placeholder</title><rect width="100%" height="100%"
			fill="#ff0000"></rect>
		<text x="50%" y="50%" fill="#ff0000" dy=".3em">32x32</text></svg>
	<div class="media-body pb-3 mb-0 small lh-125">
		<div class="d-flex justify-content-between align-items-center w-100">
			<strong class="text-gray-dark">{{game.blackPlayer.name}}</strong>
		</div>
		<span class="d-block">@{{game.blackPlayer.teamName}}</span>
	</div>
</div>

<div class="card p-2">
	<div class="btn-group">
			<button [routerLink]="['/rounds', game.round.id, 'games']"
				class="btn btn-secondary pull-right">Back</button>
		<button [routerLink]="['/games', game.id, 'edit']" type="submit"
			class="btn btn-primary">
			<span class="fa fa-pencil"></span> Edit
		</button>

	</div>
</div>
