<div class="jumbotron">
	<h1>Chess Tournament <b>Organisation</b> and <b>Preparation</b></h1>
	<p class="lead">Starting to create your first chess tournament. Looking for chess player insights.</p>
	 <div class="btn-group" role="group">
		<button routerLink="/tournaments" class="btn btn-success btn-lg">Create Tournament</button>
		<button routerLink="/tournaments" class="btn btn-primary btn-lg">Prepare for Tournament</button>
		<button routerLink="/tournaments" class="btn btn-secondary btn-lg">Show Player Insights</button>
	 </div>
</div>