<div class="table-title">
	<div class="row">
		<div class="col-sm-5">
			<h2>
				Tournament <b>Management</b>
			</h2>
		</div>
		<div class="col-sm-7">
			<button class="btn btn-primary"
				[routerLink]="['/tournaments', 'add']">
				<span class="fa fa-plus"></span> Add New Tournament
			</button>
		</div>
	</div>
</div>
<table class="table table-hover text-muted">
	<thead>
		<tr>
			<th>Name</th>
			<th>Participants</th>
		</tr>
	</thead>
	<tbody>
		<tr class="clickable" *ngFor="let tournament of tournaments"
			[routerLink]="['/tournaments/', tournament.id]">
			<td class="align-middle">{{tournament.name}}</td>
			<td class="align-middle">{{tournament.participants}}</td>
		</tr>
	</tbody>
</table>

<div *ngIf="tournaments?.length == 0"
	class="alert alert-warning col-md-12" role="alert">No tournaments
	found.</div>

