<div class="rob mb-2">
	<div class="col mb-6">
		<div style="background: #7abaff;"
			class="card flex-md-row mb-4 box-shadow h-md-250 justify-content-center">
			<h2>
				<b>Tournaments</b>
			</h2>
		</div>
	</div>
	<div class="col mb-6">
			<div class="btn-group">
				<button class="btn btn-primary" [routerLink]="['/tournaments', 'add']"><span class="fa fa-plus"></span> ADD NEW</button>
			</div>
		<div class="card flex-md-row mb-4 box-shadow h-md-250">
			<table class="table table-hover">
				<thead class="table-primary">
					<tr>
						<th class="col-md-6" scope="col">Name</th>
						<th class="col-md-2" scope="col">Participants</th>

					</tr>
				</thead>
				<tbody>
					<tr class="clickable" *ngFor="let tournament of tournaments"
						[routerLink]="['/tournaments/', tournament.id]">
						<td class="align-middle">{{tournament.name}}</td>
						<td class="align-middle">{{tournament.participants}}</td>
					</tr>
				</tbody>
			</table>

		</div>
		<div *ngIf="tournaments?.length == 0"
			class="alert alert-warning col-md-12" role="alert">No
			tournaments found.</div>
	</div>

</div>

