
<h4
	class="d-flex justify-content-between align-items-center mb-3 card-header">
	<span class="text-muted">{{ tournament.name }}</span> <a
			href="/tournaments/{{tournament.id}}/players"
			class="badge badge-secondary"> {{ participants }} </a>
</h4>
<div class="input-group mb-3">
	<input #searchInput type="text" class="form-control"
		placeholder="Search for player name ..."
		aria-label="Search for player name" aria-describedby="basic-addon2"
		(keyup.enter)="search(searchInput.value)">
	<div class="input-group-append">
		<button class="btn btn-outline-secondary" type="button"
			(click)="search(searchInput.value)">Search</button>
	</div>
</div>

<div class="row" *ngIf="showMsg">
	<div class="col-xs-12">
		<p class="alert alert-success">
			<strong>{{msg}}</strong>
		</p>
	</div>
</div>
<div class="row" *ngIf="errorMsg">
	<div class="col-xs-12">
		<p class="alert alert-danger">
			<strong>{{msg}}</strong>
		</p>
	</div>
</div>

<table class="table text-muted">
	<caption>
		<b>Players</b>
	</caption>
	<thead>
		<tr>
			<th class="col-md-4" scope="col">Name</th>
			<th class="col-md-2" scope="col">Elo</th>
			<th class="col-md-3" scope="col">Team</th>
			<th class="col-md-3" scope="col">Action</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let player of players">
			<td>
				<div class="media">
					<svg class="bd-placeholder-img mr-2 rounded" width="32" height="32"
						xmlns="http://www.w3.org/2000/svg"
						preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
						aria-label="Placeholder: 32x32">
		<title>Placeholder</title><rect width="100%" height="100%"
							fill="#007bff"></rect>
		<text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
					<div class="media-body pb-3 mb-0 small lh-125 ">
						<div
							class="d-flex justify-content-between align-items-center w-100">
							<strong class="text-gray-dark">{{player.name}}</strong>
						</div>
					</div>
				</div>
			</td>
			<td>
				<div class="media-body pb-3 mb-0 small lh-125 ">
					<h2>{{player.rating.elo}}</h2>
				</div>
			</td>
			<td>
				<div class="media-body pb-3 mb-0 small lh-125 ">
					{{player.teamName}}</div>
			</td>
			<td>
				<div class="btn-group btn-group-sm" role="group">
					<button (click)="addPlayerToTournament(player)"
						class="btn btn-success btn-lg">ADD</button>
					<button (click)="removePlayerFromTournament(player)"
						class="btn btn-danger btn-lg">REMOVE</button>
				</div>

			</td>
		</tr>
	</tbody>

</table>
<div *ngIf="players?.length == 0" class="alert alert-warning col-md-12"
	role="alert">No Players found.</div>

