<table class="table table-hover text-muted" id="gameTable" #gameTable>
	<caption>
		{{tournament.name}} <b>Rounds</b>
	</caption>
	<thead>
		<tr>
			<th class="col-md-1" scope="col">Number</th>
			<th class="col-md-4" scope="col">Start Time</th>
			<th class="col-md-4" scope="col">End Time</th>
			<th class="col-md-3" scope="col">Type</th>
		</tr>
	</thead>
	<tbody>

		<tr class="clickable" *ngFor="let round of rounds"
			[routerLink]="['/rounds/', round.id, 'games']">
			<td>
				<div class="media-body pb-3 mb-0 small lh-125 ">
					<h1>{{round.number}}</h1>
				</div>
			</td>
			<td>{{tournament.startDate| date : 'MMM d, y h:mm:ss a'}}</td>
			<td>{{tournament.endDate| date : 'MMM d, y h:mm:ss a'}}</td>
			<td>{{tournament.type}}</td>
		</tr>
	</tbody>

</table>
<div *ngIf="rounds?.length == 0" class="alert alert-warning col-md-12"
	role="alert">No Rounds found.</div>

<div class="card p-2">
	<div class="btn-group">
		<button [routerLink]="['/tournaments', tournament.id]"
			class="btn btn-secondary">
			<span class="fa fa-arrow-left"></span> Back
		</button>

	</div>
</div>
